.header__site-branding {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.header__phone {
    font-size: 2.4rem;
    text-transform: uppercase;
    color: $black;
    &:hover {
        color: $black;
        text-decoration: none;
    }
}

.header__bg {
    position: relative;
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 90%;
        background-color: $light;
        content: '';
        z-index: -1;
    }
}

.header__nav {
    font-size: 1.6rem;
    .navbar-nav {
        padding-top: 1rem;
        margin-left: 0;
    }

    @media (min-width: $md) {
        font-size: 1.4rem;
    }

    @media (min-width: $lg) {
        font-size: 1.6rem;
    }
}