.hero__slider {
    position: relative;
}

.hero__slide {
    border-radius: 3px;

    .row {
        margin-left: 0;
        margin-right: 0;
    }
}

.hero__heading {
    font-weight: normal;
}

.hero__content-col {
    padding: 2.5rem;
    background-color: $color_accent_1;
    color: #fff;
}

.hero__img-col {
    padding: 0;
    min-height: 22rem;
    background-image: url($theme_url + '/dist/assets/img/slides/default.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @media (min-width: $md) {
        min-height: 32rem;
    }

    @media (min-width: $lg) {
        min-height: 34rem;
    }
}

.hero__date {
    font-size: 1.3rem;
    color: rgba(#fff, 0.3); 
    text-transform: uppercase;
    .icon {
        color: #fff;
    }
}

.hero__badge {
    margin-top: 1rem;
    color: $color_accent_1_light;
}

.hero__controls {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    z-index: 25;
}

.hero__control {
    padding: 1rem;
    line-height: 1;
    font-size: 6px;

    .fa {
        vertical-align: middle;
    }

    &--prev {
        padding-left: 1.3rem;
        &:hover {
            border-right-color: $color_accent_1_light; 
        }
        .icon {
            transform: rotateY(-180deg);
        }
    }
    &--next {
        padding-right: 1.3rem;
        border-left-color: $color_accent_1_light; 
        border-left-width: 1px;
        &:hover {
            border-left-color: $color_accent_1_light; 
        }
    }
}