.news__list {
    @include list-reset();
    margin-top: -0.5rem;
}

.news__item {
    margin-top: 2.5rem;
}

.news__link {
    color: $black;
    text-decoration: none;
    &:hover {
        color: $black;
        text-decoration: none;
    }
}

.news__preview {
    max-width: 12rem;
    height: auto;
}

.news__date {
    color: #808080;
    font-size: 1.6rem;
    line-height: 1;
}

.news__title {
    margin-top: 1rem;
}